/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul {
	list-style: none
}

.all_seats {
	width: 750px;
	height: 400px;
	overflow: hidden;
	margin: auto;
}

.seat {
	width: 40px;
	height: 40px;
	border: solid;
	float: left;
	margin-bottom: 15px;
	margin-right: 10px;
}

.seat.yellow {
	background-color: yellow;
}

.seat:nth-child(7), 
.seat:nth-child(20),
.seat:nth-child(33),
.seat:nth-child(46),
.seat:nth-child(59),
.seat:nth-child(72) {
	margin-right: 30px;
}

.seat a{
	margin-left: 15%;
}